# --- PostgreSQL Superuser & Databases ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_super_secret_123
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# Mật khẩu riêng từng Database
AUTH_DB_PASSWORD=auth_pass_secret_123
PRODUCT_DB_PASSWORD=product_pass_secret_123
ORDER_DB_PASSWORD=order_pass_secret_123
PAYMENT_DB_PASSWORD=payment_pass_secret_123

# --- Redis Configuration ---
REDIS_PASSWORD=redis_secret_123
REDIS_PORT=6379

# --- Apache Kafka KRaft ---
KAFKA_CLUSTER_ID=4L622nShTUiBENbYWuzBDg
KAFKA_EXTERNAL_HOST=localhost

# --- Kong Gateway ---
KONG_PROXY_PORT=8000
KONG_ADMIN_PORT=8001